<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Form</title>
    <%- include('./partials/style') %>
  </head>
  <body>
    <div class="signup-form">
      <h2>Edit Details</h2>
      <form action="/edit-profile" method="post" enctype="multipart/form-data">
        <label for="fullName">Full Name</label>
        <input
          type="text"
          id="fullName"
          name="fullName"
          value="<%= user.fullName %>"
        />

        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          value="<%= user.email %>"
          readonly
        />

        <!-- <label for="password">Password</label>
        <input type="password" id="password" name="password" /> -->
        <label for="">Image</label>
        <input type="file" name="image" />

        <input type="submit" value="Signup" />
      </form>
      <br /><br />
      <a href="/change-password" class="btn-primary">Change Passsword</a>
      <a href="/change-email" class="btn-primary">Change Email</a>
    </div>
  </body>
</html>
